*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
}

ing{
    max-width: 100%;
    width: 100%;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;   
}

:root {
    --gray-l: #BFBFBF;
    --gray: #C0C0C0;
    --black: #212121;
    --smooth: all .3s ease-in;
}

/* header */
header {
    position:absolute;
    width: 100%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align - items: center;
    padding: 20px 0;
}

/* logo */
.navbar__logo img{
    width: 57px;
    height: 57px;
    object-fit: cover;
}

/* menu */
.navbar__links {
    position: fixed;
    top:0;
    left: 0;
    width: 60%;
    height: 100%;
    background-color: var(--black);
    z-index: 5;
    transition: var(--smooth);
    transform: translateX(-100%);
    opacity: 0;
}
